*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: #fff; }

body {
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-style: normal; }

.heading-primary {
  backface-visibility: hidden;
  color: grey;
  display: block;
  font-size: 3.6rem;
  white-space: nowrap; }

.heading-secoundary {
  backface-visibility: hidden;
  color: grey;
  display: block;
  font-size: 3rem;
  white-space: nowrap; }

.heading-tetriary {
  backface-visibility: hidden;
  color: grey;
  display: block;
  font-size: 2.4rem;
  white-space: nowrap; }

.heading-quad {
  backface-visibility: hidden;
  color: grey;
  display: block;
  font-size: 1.8rem;
  white-space: nowrap; }

.paragraph {
  font-size: 1.4rem; }

.u-margin-buttom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-buttom-medium {
  margin-bottom: 4rem !important; }

.u-margin-buttom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-heading-center {
  text-align: center; }

.header__photo {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

::after {
  content: "";
  display: table;
  clear: both; }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto; }

[class^="col-"] {
  background-color: orangered;
  float: left; }
  [class^="col-"]:not(:last-child) {
    margin-right: 6rem; }

.col-1-of-2 {
  width: calc((100% - 6rem) / 2); }

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4); }

.navigation__top {
  background-color: #0e0c0c;
  display: flex;
  width: 100%;
  height: 4.2rem; }

.navigation__top-photo {
  justify-content: center;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; }
