.footer {
    background-color: $color-black;
    padding-bottom: 3rem;

    &__list {

    }

    &__link {
        text-decoration: none;
        text-align: cemter;
    }

    &__item {
        text-align: center;
    }

    &__heading {
        text-align: center;
    }
}