.section {
    
    &__photo {
        min-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &__heading {
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-weight: 100;
    }
}

.section-information {
    background-color: $color-text;
    padding-top: 2rem;
    padding-bottom: 2rem;
    

    &__heading {
        text-decoration: none;
        text-transform: uppercase;
        text-align: left;
        font-weight: 100;
    }
}